<form [formGroup]="loginForm">
  <div class="bg-base-200 absolute inset-0 flex items-center justify-center">
    <div class="card bg-base-100 drop-shadow-lg w-96 sm:w-80">
      <div class="card-body">
        <h2 class="card-title pb-4">ログイン</h2>
        <input
          formControlName="email"
          type="text"
          placeholder="メールアドレス"
          class="input input-bordered w-full max-w-xs focus:outline-none focus:ring-4 focus:border-transparent focus:ring-daisy-primary"
          (blur)="onInputBlur('email')"
        />
        <ul
          *ngIf="showError.email"
          class="list-inside list-disc"
        >
          <li
            *ngFor="let error of getErrors('email')"
            class="text-red-500 text-xs"
          >
            {{ error }}
          </li>
        </ul>

        <input
          formControlName="password"
          type="password"
          placeholder="パスワード"
          class="input input-bordered w-full max-w-xs focus:outline-none focus:ring-4 focus:border-transparent focus:ring-daisy-primary"
          (blur)="onInputBlur('password')"
        />
        <ul
          *ngIf="showError.password"
          class="list-inside list-disc"
        >
          <li
            *ngFor="let error of getErrors('password')"
            class="text-red-500 text-xs"
          >
            {{ error }}
          </li>
        </ul>

        <div class="flex justify-start">
          <div class="pt-2 text-stone-500">パスワードを忘れた場合</div>
        </div>
        <div class="card-actions justify-end pt-4">
          <button
            class="btn btn-primary text-base-100 drop-shadow"
            [disabled]="!loginForm.valid"
            (click)="onSubmit()"
          >
            ログイン
          </button>
        </div>
        <div class="flex justify-end">
          <div class="pt-4 text-stone-500">ユーザ登録</div>
        </div>
      </div>
    </div>
  </div>
</form>
